.calendar {
    width:100%;
    max-width:972px;
    border:1px solid #dedede;
    text-align:left;
    margin-bottom:20px;
    padding:10px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.calendar ul {
    margin:0 auto;
    padding:0;
    list-style:none;
    text-align:center;
    border:1px solid #dedede;
    background-color:rgba(255, 255, 255, 0.7);
    width:282px;
    height:282px;
}

.calendar ul li {
    display:block;
    margin:0;
    padding:0;
    height:40px;
}

.calendar ul li.label-week {
    background:#dedede;
}

.calendar ul li div {
    display:inline-block;
    vertical-align:top;
    margin:0;
    padding:0;
    width:40px;
    height:40px;
    line-height:40px;
    font-weight:bold;
    color: #121212;
}

.calendar .calendar-top {
    margin:0 auto;
    padding:10px 0;
    border:1px solid #dedede;
    background-color:rgba(255, 255, 255, 0.7);
    width:282px;
    line-height:40px;
    text-align:center;
}

.calendar .calendar-top select.calendar-year,
.calendar .calendar-top select.calendar-month {
    display:inline-block;
    font-size:18px;
    font-weight:bold;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* and then whatever styles you want*/
    padding: 2px 0 2px 15px;
    cursor:pointer;
}

.calendar .calendar-top select.calendar-year {
    width:100px;
    margin-right:10px;
}

.calendar .calendar-top select.calendar-month {
    width: 80px;
}

.calendar ul li.week div.useable {
    cursor:pointer;
}

.calendar ul li.week div.checked {
    background: rgba(0,255,0,0.4);
    color:white;
}